# Core FastAPI dependencies
fastapi==0.124.2
uvicorn==0.38.0
python-multipart==0.0.20

# For file handling
pdfplumber==0.11.8
pandas==2.3.3

#environment variable management
python-dotenv==1.2.1

docling
docling[ocr]
paddleocr 
paddlepaddle 
torch 
opencv-python

# LangChain dependencies
langchain-core==1.2.20
langgraph==1.1.3
langchain-groq==1.1.2
langchain-ollama==1.0.1

# For data validation
pydantic==2.12.5
